*{
    margin: 0;
    padding: 0;
}
body{
    background: #efefef;
    margin-bottom: 100px;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.loading-outer{
    display: flex;
    position: fixed; 
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    transition: all 1s;
} 
.loading{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-outer.active{
    display: none;
}
.loading::before,
.loading::after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    background-color: #AFAFAF;
    border-radius: 50%;
    animation: loadingAnimation 1.8s linear infinite;
}
.loading::after{
    animation-delay: 0.9s;
}
@keyframes loadingAnimation{
    0%   { width: 0; height: 0; opacity: 1; }
    100% { width: 80px; height: 80px; opacity: 0; }
}


.topNavBar{
    padding:20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    color: #b7b7b7;
    transition: all 0.3s;
}
.topNavBar.sticky{
    padding: 10px 0;
    background-color: #fff;
    color: #3d4451;
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.3);
}
.topNavBar.active nav{
    padding: 8px 0 2px;
}
.topNavBar-inner{
    padding: 0 16px;
}
.topNavBar .logo{
    float: left;
    line-height: 40px;
    font-size: 24px;
    font-family: "Arial Black";
}
.topNavBar .logo>.bo{
    margin-right: 2px;
    color: rgb(232, 103, 107);
}
.topNavBar .logo>.wen{
    color: rgb(154, 157, 162);
}
.topNavBar nav{
    float: right;
    padding: 8px 10px 2px;
    transition: all 0.3s;
}
.topNavBar nav>ul{
    margin: 0;
    padding: 0;
}
.topNavBar nav>ul>li{
    float: left;
    margin: 0 15px;
    position: relative;
}
.topNavBar nav>ul>li>a{
    display: block;
    font-weight: 600;
    font-size: 12px;
    color: inherit;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding: 4px 0;
}



.topNavBar nav>ul>li.active>a::after,
.topNavBar nav>ul>li.clickScrollActive>a::after,
.topNavBar nav>ul>li.hightLight>a::after{
    background-color: #E8676B;
    content: '';
    display: block;
    margin-top: 4px;
    margin-right:100%;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    animation: topNavBarUnderLineAppear 0.2s;
}
@keyframes topNavBarUnderLineAppear{
    0%  { width: 0%; }
    100%{ width: 100%; }
}
/* @keyframes topNavBarUnderLineDisappear{
    0%{ width: 100%; }
    100%  { width: 0%; }
} */


.topNavBar nav>ul>li.active>.secondLevelMenu{
    display: block;
    margin-right: 0;
}
.topNavBar nav>ul>li>.secondLevelMenu{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px 0;
    background-color: #fff;
    color: #2D3540;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.2);
    white-space: nowrap;
    text-align: right;
    margin-right: 100%;
    margin-top: -7px;
    font-size: 12px;
    animation: secondLevelMenu 0.2s; 
}

.topNavBar nav>ul>li>.secondLevelMenu>li{
    padding: 8px 20px;
}
.topNavBar nav>ul>li>.secondLevelMenu>li:hover{
    cursor: pointer;
    background-color: #eee;
    color: #E8676B;
}
@keyframes secondLevelMenu{
    0%  { margin-right: 100%; }
    100%{ margin-right: 0; }
}





.banner{
    background: url(../image/banner-bg2.jpg) center center no-repeat;
    background-size: cover;
    height: 520px;
}
.banner .mask{
    background-color:  rgba(0,0,0,0.5);
    height: 520px;
}


main{
    /* transform: translateY(-340px); */
    /* position: relative; top: -340px; */
    margin-top: -340px;
}
.userCard{
    max-width: 930px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}
.userCard .profile{
    padding:60px 60px 20px 60px;
}
.userCard .profile>.picture{
    float: left
}
.userCard .profile>.information{
    float: left;
    margin-left: 90px;
    width: 460px;
}
.userCard .profile>.information>.welcome{
    display: inline-block;
    padding: 3px 6px;
    background: rgb(232, 103, 107);
    color: #fff;
    font-weight: 600;
    position: relative;
}
.userCard .profile>.information>.welcome>.triangle{
    display: block;
    position: absolute;
    top: 100%;
    left: 4px;
    border: 5px solid transparent;
    width: 0;
    border-top-color: rgb(232, 103, 107);
    border-left-color: rgb(232, 103, 107);
}
.userCard .profile>.information>h1{
    margin:30px 0 6px;
}
.userCard .profile>.information>hr{
    border: none;
    border-top: 1px solid rgb(222, 222, 222);
    margin:20px 0;
}
.userCard .profile>.information>dl>dt{
    float: left;
    width: 30%;
    padding:5px 0;
    font-weight: 600;
    color: rgb(51, 51, 51);
}
.userCard .profile>.information>dl>dd{
    float: left;
    width: 70%;
    padding:5px 0;
    color: rgb(157, 160, 167);
}
.userCard .media{
    padding:15px 0;
    background: rgb(232, 103, 107);
    text-align: center;
}
.userCard .media>a{
    display: inline-block;
    padding: 6px;
    border-radius: 50%;
    margin: 0 30px;
}
.userCard .media>a:hover{
    background: rgba(0, 0, 0, 0.1);
}
.userCard .media>a>.icon{
    width: 30px;
    height: 30px;
    fill: #fff;
    text-align: center;
}

.download-outer{
    text-align: center;
    margin: 30px 0 40px;
}
.download{
    border: 1px solid rgb(203, 205, 207);
    display: inline-block;
    vertical-align: top;
    padding: 15px 55px;
    color: #3d4451;
    font-weight: 600;
    border-radius: 2px;
    transition: all 0.2s;
}
.download:hover{
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.2);
}

.selfIntroduction{
    font-family: "kaiti";
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 1.6;
}
section{
    max-width: 930px;
    margin: 0 auto;
}
section > .sectionTitle{
    font-size: 34px;
    font-weight: 600;
    margin: 60px 0 25px;
    text-align: center;
    color: #3d4451;
    line-height: 1.2;
}
section > .skills{
    background: #fff;
    padding: 40px 50px 50px;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.2);
} 
section > .skills > li{
    float: left;
    width: 48%;
    color: #3d4451;
    font-size: 14px;
}
section > .skills > li > .skillBar{
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin-top: 4px;
}
section > .skills > li > .skillBar > .shillBar-inner{
    height: 100%;
    background: #e8676b;
    border-radius: 2px;
    width:90%;
}
section > .skills > li:nth-child(3),
section > .skills > li:nth-child(4){
    margin: 40px 0;
}
section > .skills > li:nth-child(even){
    float: right;
}

.portfolio{
    text-align: center;
}
.portfolio > nav{
    display:inline-block;
}
.portfolio > nav > ol{
    display: inline-block;
    margin-top: 2px;
}
.portfolio > nav > ol > li{
    float: left;
    font-size: 14px;
    cursor: pointer;
    padding: 0 6px;
}
.portfolio > nav > ol > li:nth-child(2){
    margin: 0 28px;
}
.portfolio > nav > .sliderBar{
    height: 5px;
    background: #fff;
    border-radius: 4px;
    transition: all 0.2s;
}
.portfolio > nav > .sliderBar > .sliderBar-inner{
    height: 100%;
    background: #E6686A;
    border-radius: 4px;
    transition: all 0.2s;
}
.portfolio > nav > .sliderBar > .sliderBarStateFirst{
    width: 40px;
    margin-left: 0;
}
.portfolio > nav > .sliderBar > .sliderBarStateSecond{
    width: 60px;
    margin-left: 58px;
}
.portfolio > nav > .sliderBar > .sliderBarStateThird{
    width: 100px;
    margin-left: 135px;
}
.portfolio > .works{
    position: relative;
    margin-top: 40px;
    height: 597px;
}
.portfolio > .works > div{
    position: absolute;
}