*{
    margin: 0;
    padding: 0;
}
body{
    background: #efefef;
    margin-bottom: 100px;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.topNavBar{
    padding:20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.topNavBar-inner{
    padding: 0 16px;
}
.topNavBar .logo{
    float: left;
    line-height: 40px;
    font-size: 24px;
    font-family: 'Arial Black';
}
.topNavBar .logo>.bo{
    margin-right: 2px;
    color: rgb(232, 103, 107);
}
.topNavBar .logo>.wen{
    color: rgb(154, 157, 162);
}
.topNavBar nav{
    float: right;
    padding: 8px 0 2px;
}
.topNavBar nav>ul{
    margin: 0;
    padding: 0;
}
.topNavBar nav>ul>li{
    float: left;
    margin: 0 15px;
}
.topNavBar nav>ul>li>a{
    display: block;
    color: #b7b7b7;
    font-weight: 600;
    font-size: 12px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding: 4px 0;
}
.topNavBar nav>ul>li>a:hover{
    border-bottom: 3px solid #e8676b;
}


.banner{
    background: url(../image/banner-bg2.jpg) center center no-repeat;
    background-size: cover;
    height: 500px;
}
.banner .mask{
    background-color:  rgba(0,0,0,0.5);
    height: 500px;
}


main{
    /* transform: translateY(-340px); */
    /* position: relative; top: -340px; */
    margin-top: -340px;
}
.userCard{
    max-width: 930px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}
.userCard .profile{
    padding:60px 60px 20px 60px;
}
.userCard .profile>.picture{
    float: left
}
.userCard .profile>.information{
    float: left;
    margin-left: 90px;
    width: 460px;
}
.userCard .profile>.information>.welcome{
    display: inline-block;
    padding: 3px 6px;
    background: rgb(232, 103, 107);
    color: #fff;
    font-weight: 600;
    position: relative;
}
.userCard .profile>.information>.welcome>.triangle{
    display: block;
    position: absolute;
    top: 100%;
    left: 4px;
    border: 5px solid transparent;
    width: 0;
    border-top-color: rgb(232, 103, 107);
    border-left-color: rgb(232, 103, 107);
}
.userCard .profile>.information>h1{
    margin:30px 0 6px;
}
.userCard .profile>.information>hr{
    border: none;
    border-top: 1px solid rgb(222, 222, 222);
    margin:20px 0;
}
.userCard .profile>.information>dl>dt{
    float: left;
    width: 30%;
    padding:5px 0;
    font-weight: 600;
    color: rgb(51, 51, 51);
}
.userCard .profile>.information>dl>dd{
    float: left;
    width: 70%;
    padding:5px 0;
    color: rgb(157, 160, 167);
}
.userCard .media{
    padding:15px 0;
    background: rgb(232, 103, 107);
    text-align: center;
}
.userCard .media>a{
    display: inline-block;
    padding: 6px;
    border-radius: 50%;
    margin: 0 30px;
}
.userCard .media>a:hover{
    background: rgba(0, 0, 0, 0.1);
}
.userCard .media>a>.icon{
    width: 30px;
    height: 30px;
    fill: #fff;
    text-align: center;
}

.download-outer{
    text-align: center;
    margin: 30px 0 40px;
}
.download{
    border: 1px solid rgb(203, 205, 207);
    display: inline-block;
    vertical-align: top;
    padding: 15px 55px;
    color: #3d4451;
    font-weight: 600;
    border-radius: 2px;
    transition: all 0.2s;
}
.download:hover{
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.2);
}

.selfIntroduction{
    font-family: 'kaiti';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 1.6;
}
section{
    max-width: 930px;
    margin: 0 auto;
}
section > .sectionTitle{
    font-size: 34px;
    font-weight: 600;
    margin: 60px 0 25px;
    text-align: center;
    color: #3d4451;
    line-height: 1.2;
}
section > .skills{
    background: #fff;
    padding: 40px 50px 50px;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.2);
} 
section > .skills > li{
    float: left;
    width: 48%;
    color: #3d4451;
    font-size: 14px;
}
section > .skills > li > .skillBar{
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin-top: 4px;
}
section > .skills > li > .skillBar > .shillBar-inner{
    height: 100%;
    background: #e8676b;
    border-radius: 2px;
    width:90%;
}
section > .skills > li:nth-child(3),
section > .skills > li:nth-child(4){
    margin: 40px 0;
}
section > .skills > li:nth-child(even){
    float: right;
}

.portfolio{
    text-align: center;
}
.portfolio > nav{
    display:inline-block;
}
.portfolio > nav > ol{
    display: inline-block;
    margin-top: 2px;
}
.portfolio > nav > ol > li{
    float: left;
    font-size: 14px;
    cursor: pointer;
    padding: 0 6px;
}
.portfolio > nav > ol > li:nth-child(2){
    margin: 0 28px;
}
.portfolio > nav > .sliderBar{
    height: 5px;
    background: #fff;
    border-radius: 4px;
    transition: all 0.2s;
}
.portfolio > nav > .sliderBar > .sliderBar-inner{
    height: 100%;
    background: #E6686A;
    border-radius: 4px;
    transition: all 0.2s;
}
.portfolio > nav > .sliderBar > .sliderBarStateFirst{
    width: 40px;
    margin-left: 0;
}
.portfolio > nav > .sliderBar > .sliderBarStateSecond{
    width: 60px;
    margin-left: 58px;
}
.portfolio > nav > .sliderBar > .sliderBarStateThird{
    width: 100px;
    margin-left: 135px;
}